html, body, div, a, span, input, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

select, textarea, input {
  border: none;
  outline: none;
}

html {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.sudoku-board {
  border: 2px solid #000;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 450px;
}

.square {
  border: .5px solid #eee;
  box-sizing: border-box;
  font-size: 24px;
  height: 50px;
  text-align: center;
  width: 50px;
}

.square:focus {
  border: 2px solid #000;
}

.cross-line {
  position: absolute;
  background: #000;
}

.cross-line.top,
.cross-line.bottom {
  width: 450px;
  height: 2px;
  left: 0;
}

.cross-line.top {
  top: 150px;
}

.cross-line.bottom {
  top: 300px;
}

.cross-line.left,
.cross-line.right {
  height: 450px;
  width: 2px;
  top: 0;
}

.cross-line.left {
  left: 150px;
}
.cross-line.right {
  left: 300px;
}
