html, body, div, a, span, input, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

select, textarea, input {
  border: none;
  outline: none;
}

html {
  height: 100%;
  min-width: 500px;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  margin: 20px 0;
}

.sudoku-board {
  border: 2px solid #000;
  display: flex;
  flex-wrap: wrap;
  margin: 25px 0;
  position: relative;
  width: 450px;
}

.square {
  border: .5px solid #eee;
  box-sizing: border-box;
  font-size: 24px;
  height: 50px;
  text-align: center;
  width: 50px;
}

.cross-line {
  position: absolute;
  background: #000;
}

.cross-line.top,
.cross-line.bottom {
  width: 450px;
  height: 2px;
  left: 0;
}

.cross-line.top {
  top: 150px;
}

.cross-line.bottom {
  top: 300px;
}

.cross-line.left,
.cross-line.right {
  height: 450px;
  width: 2px;
  top: 0;
}

.cross-line.left {
  left: 150px;
}
.cross-line.right {
  left: 300px;
}

.solve-button,
.clear-button {
  background: #fff;
  border: 2px solid #000;
  color: #000;
  font-size: 24px;
  outline: none;
}

.clear-button {
  float: left;
}

.solve-button {
  float: right;
}

.solve-button:hover,
.clear-button:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}

.unsolvable {
  font-size: 16px;
  margin: 0;
  padding: 8px;
  text-align: center;
}
